.nav-links {
  font-size: 2rem;
  list-style: none;
  margin: 0;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links li {
  margin: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  padding: 0.75rem;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background: #ff2626;
  color: #ffffff;
  border-radius: 16px;
}

.nav-links button {
  cursor: pointer;
  color: #ff0000;
  background: transparent;
  font: inherit;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  background: #ffffff;
  color: white;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
    font-size: inherit;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .nav-links button {
    border: 1px solid white;
    color: white;
    background: transparent;
  }

  .nav-links button:hover,
  .nav-links button:active {
    background: #e80808;
    color: #ffffff;
  }
}