.main-navigation-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--space-2xs);
}

ul {
  list-style-type: none;
}

li {
  font-size: calc(1.2 * var(--step--1));
  background-color: var(--secondary);
  border-radius: 0.4em;
  padding: calc(0.5 * var(--space-2xs));
}
