.modal {
  position: fixed;
  display: flex;
  width: calc(100% - 2 * var(--grid-gutter));
  background-color: var(--secondary);
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.4em;
  overflow: hidden;
}

.modal.enter {
  opacity: 0;
}

.modal.enter.active {
  opacity: 1;
  transition: opacity 300ms;
}

.modal.exit {
  opacity: 0;
}

.modal.exit.active {
  opacity: 1;
  transition: opacity 300ms;
}

.modal-poster {
  height: 100%;
}

.modal-poster > img {
  height: 100%;
  border-radius: 0.4em;
}

.modal-trailer-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: var(--space-xs);
}

.modal-trailer {
  position: relative;
  height: 70%;
}

.modal-trailer > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.4em;
}

.modal-info {
  font-size: calc(1.005 * var(--step-0));
  flex-grow: 1;
  display: inline-block;
  position: relative;
  margin-top: var(--space-xs);
  padding: var(--space-s) var(--space-s);
  background-color: var(--primary);
  border-radius: 0.4em;
  color: var(--secondary);
}

.modal-info > img {
  position: fixed;
  right: var(--space-s);
  bottom: var(--space-s);
}

@media screen and (max-width: 1000px) {
  .modal-poster {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .modal {
    height: 60vh;
  }
}

.close {
  border-radius: 100%;
  width: 5vh;
  height: 5vh;
  position: fixed;
  color: transparent;
  right: 0.3em;
  bottom: 0.3em;
}

.close > img {
  position: relative;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
