.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #ff0000;
  border-radius: 16px;
  background: #ff0000;
  color: white;
  cursor: pointer;
  margin: 0.25rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #ff4350;
  border-color: #ff4350;
}

.button--inverse {
  background: transparent;
  color: #ff0000;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #ff0000;
}

.button--danger {
  background: brown;
  border-color: brown;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 1rem;
}

.button--big {
  font-size: 2.5rem;
}