.user-item {
  background-color: var(--secondary);
  flex-basis: 25vw;
  padding: var(--space-2xs);
  border-radius: 0.4em;
  min-width: 220px;
  margin: 0.5em 0.25em;
}

.user-item-info {
  display: flex;
  flex-direction: column;
}

.user-item-info > h3 {
  align-self: flex-end;
}
