.user-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 20rem;
}

.user-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1.5rem;
  color: white;
  background: #111122;
}

.user-item a:hover,
.user-item a:active {
  background: #ff2a00;
}

.user-item__content {
  padding: 0;
}

.user-item__info h2 {
  font-size: 1.75rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #ff0000;
}

.user-item:hover h2,
.user-item:active h2,
.user-item:hover h3,
.user-item:active h3 {
  color: #ffffff;
}

.user-item__info h3 {
  margin: 0;
}
