:root {
  --text: #0b090b;
  --background: #ffffff;
  --primary: #521449;
  --secondary: #e9dad8;
  --accent: #ec1313;
}

body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
}
