.button {
  border-style: solid;
  border-color: var(--accent);
  background-color: var(--accent);
  color: var(--background);
  border-radius: 0.4em;
  padding: var(--space-2xs);
  margin: var(--space-2xs);
}

.button--inverse {
  background-color: transparent;
  color: var(--accent);
}
