input {
  padding: var(--space-2xs);
  margin: var(--space-2xs);
  border-radius: 0.4em;
  border: none;
  width: 90%;
  font-size: var(--step--1);
}

textarea {
  padding: var(--space-2xs);
  margin: var(--space-2xs);
  width: 90%;
  border-radius: 0.4em;
  border: none;
  font-size: var(--step--1);
}

.form-control > label {
  display: block;
  font-size: var(--step--1);
  padding: var(--space-2xs);
}

.form-control > p {
  font-size: calc(0.9 * var(--step--1));
  color: var(--accent);
  padding: 0 var(--space-2xs);
}
