.entry-item {
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  margin: var(--space-m) 0;
  border-radius: 0.4em;
}

.poster-item-image {
  padding-left: var(--space-2xs);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poster-item-image > img {
  height: 20vw;
  min-height: 320px;
  border-radius: 0.4em;
}

.poster-item-info-buttons {
  padding: var(--space-xs);
  display: flex;
  flex-direction: column;
}

.poster-item-info {
  padding: var(--space-xs);
  border-radius: 0.4em;
  background-color: var(--primary);
  color: rgb(255, 255, 255);
}

.poster-item-buttons {
  display: flex;
  justify-content: center;
  padding: var(--space-xs);
  padding-bottom: 0;
}

@media screen and (max-width: 580px) {
  .entry-item {
    flex-direction: column;
  }

  .poster-item-info {
    display: none;
  }

  .poster-item-image {
    flex-direction: row;
  }

  .poster-item-image > img {
    max-width: 240px;
  }
}
